{% extends 'base.html' %}

{% block title %}
{{ super() }}
{% endblock title %}

{% block content %}

<section class="s-content">

	<div class="row narrow">
		<div class="col-full s-content__header" data-aos="fade-up">
			<h1>Category: {{ category }}</h1>

			<p class="lead">{{ ABOUT_BLOG }}</p>
		</div>
	</div>
	

	<div class="row masonry-wrap">
		<div class="masonry">
	
			<div class="grid-sizer"></div>
			<div id="blog"></div>
			{% for article in articles_page.object_list %}
	
			<article class="masonry__brick entry format-standard" data-aos="fade-up">
					
				<div class="entry__thumb">
					<a href="{{ SITEURL }}/{{ article.url }}" class="entry__thumb-link">
	
						{% if article.image %}
							<img src="{{ SITEURL }}/images/{{ article.image }}">
						{% else %}
							<img src="{{ SITEURL }}/images/default.png">
						{% endif %}
					</a>
				</div>
	
				<div class="entry__text">
					<div class="entry__header">
						
						<div class="entry__date">
							<a href="{{ SITEURL }}/{{ article.url }}">{{ article.locale_date }}</a>
						</div>
						<h1 class="entry__title"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }} {%if article.subtitle %} <small> {{ article.subtitle }} </small> {% endif %} </a></h1>
						
					</div>
					<div class="entry__excerpt">
						<p>
							{{ article.summary}}
						</p>
					</div>
					<div class="entry__meta">
						<span class="entry__meta-links">
							<a href="category.html">{{ article.category }}</a> 
						</span>
					</div>
				</div>
	
			</article> <!-- end article -->
	
			{% endfor %}
	
	
	
	
		</div> <!-- end masonry -->
	</div> <!-- end masonry-wrap -->
	
	{% if DEFAULT_PAGINATION %}
	
	{% if articles_page and articles_paginator.num_pages > 1 %}
	<div class="row">
		<div class="col-full">
			<nav class="pgn">
				<ul>
				{% if articles_page.number > 1%}
					{% set num = articles_page.number-1 %}
					<li><a  class="pgn__prev" href="{{ SITEURL }}/{{ page_name }}{{ num if num > 1 else '' }}.html"></a>Prev</a></li>
				{% else %}
					<li><a class="pgn__prev inactive" href="#">Prev</a></li>
				{% endif %}
				{% for num in range( 1, 1 + articles_paginator.num_pages ) %}
					{% if num == articles_page.number %}
						<li><span class="pgn__num current">{{ num }}</span></li>
					{% else %}
						<li><a class="pgn__num" href="{{ SITEURL }}/{{ page_name }}{{ num if num > 1 else '' }}.html">{{ num }}</a></li>
					{% endif %}
				{% endfor %}
				{% if articles_page.number < articles_paginator.num_pages %}
					{% set num = articles_page.number+1 %}
					<li><a class="pgn__next" href="{{ SITEURL }}/{{ page_name }}{{ articles_page.next_page_number() }}.html">Next</a></li>
				{% else %}  
					<li><a class="pgn__next inactive" href="#">Next</a></li>
				{% endif %}
	
			   </ul>
			</nav>
		</div>
	</div>
	{% endif %}
	{% endif %}

	</section>

	
		
{% endblock content %}
		