{% extends 'base.html' %}

{% block title %}
{{ super() }}
{% endblock title %}

{% block content %}


<div class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url({{ SITEURL }}/theme/images/bg_1.jpg);" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="js-fullheight d-flex justify-content-center align-items-center">
    <div class="col-md-8 text text-center">
      <div class="img mb-4" style="background-image: url({{ SITEURL }}/theme/images/author.jpg);"></div>
      <div class="desc">

          <h2 class="subheading">Hello I'm</h2>
          <h1 class="mb-4">{{ AUTHOR }}</h1>
          <p class="mb-4">
            {{ ABOUT }}
          </p>
          <ul class="ftco-social mt-3">
            <li class="ftco-animate"><a href="{{ SOCIAL.twitter }}"><span class="icon-twitter"></span></a></li>
            <li class="ftco-animate"><a href="{{ SOCIAL.linkedin }}"><span class="icon-linkedin"></span></a></li>
            <li class="ftco-animate"><a href="{{ SOCIAL.github }}"><span class="icon-github"></span></a></li>
            <li class="ftco-animate"><a href="{{ SOCIAL.email }}"><span class="icon-envelope"></span></a></li>  
            <li class="ftco-animate"><a href="{{ SITEURL }}/static/cv.pdf"><span class="icon-book"></span></a></li>  
        </ul>

      </div>
    </div>
  </div>
</div>


		
		
{% endblock content %}
