{% extends 'base.html' %}

{% block title %}
All Posts · {{ super() }}
{% endblock title %}

{% block head_description %}
Full archives of {{ SITENAME|striptags|e }} blog.
{% endblock head_description %}

{% block meta_tags_in_head %}
{{ super() }}
<meta property="og:title" content="All Posts · {{ SITENAME|striptags|e }}"/>
<meta name="twitter:title" content="All Posts · {{ SITENAME|striptags|e }}">
<meta property="og:url" content="{{ SITEURL }}/archives.html" />
<meta property="og:description" content="Full archives of {{ SITENAME|striptags|e }} blog" />
<meta name="twitter:description" content="Full archives of {{ SITENAME|striptags|e }} blog">
<meta property="og:site_name" content="{{ SITENAME|striptags|e }}" />
<meta property="og:article:author" content="{{ AUTHOR }}" />
{% endblock meta_tags_in_head %}

{% block content %}



<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="row">


                    <div class="col-md-12">
                        <div class="blog-entry ftco-animate">
                <div class="text pt-2 mt-3">
                        <h3 class="mb-4">All Posts... </h3>
                      <p class="mb-4">

                            {% set ns = namespace(last_year=0) %}
                            {% for article in dates %}
                            {% set year = article.date.strftime('%Y') %}
                            {%if ns.last_year != year %}
                            <h1 id="{{year }}">{{ year }}</h1>
                            {% endif %}
                            {% set ns.last_year = year %}
                            <article>
                            <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }} {%if article.subtitle %} <small> {{ article.subtitle }} </small> {% endif %} </a>
                            <time pubdate="pubdate" datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>
                            </article>
                            {% endfor %}
                
                        </p>
                    </div>
                        </div>
                    </div>

                </div>
            </div><!-- END-->
            <div class="col-lg-4 sidebar ftco-animate">
               
                {% include 'newsletter_sidebar.html' %}


            </div><!-- END COL -->
        </div>
    </div>
</section>


{% endblock content %}
