{% extends 'base.html' %}

{% block title %}
{{ super() }}
{% endblock title %}

{% block content %}


   <section class="ftco-section-2">

	<h3 class="mb-4">Books</h3>

	<div class="container">


		<!-- <div class="row justify-content-center mb-5 pb-2">
			<div class="col-md-7 heading-section text-center ftco-animate">
				<h2 class="mb-4" id="books">Books</h2>
			</div>
		</div>
 -->
		<div class="photograhy">
			<div class="row no-gutters">

				{% for slide in BOOKS_SLIDES %}

				<div class="col-md-3">
					<a href="{{slide.url}}" class="photography-entry img d-flex justify-content-center align-items-center" style="background-image: url({{ SITEURL }}/images/{{slide.image}});">
						<div class="overlay"></div>
						<div class="text text-center">
							<h3>{{slide.title}}</h3>
							<span>{{slide.text}}</span>
						</div>
					</a>
				</div>




				{% endfor %}




			</div>
		</div>
	</div>



</section>

	<section class="ftco-section-2">

		<h3 class="mb-4">Media Appearances</h3>

	<div class="container">

		<div class="photograhy">
			<div class="row no-gutters">

				{% for slide in MEDIA_SLIDES %}

				<div class="col-md-3">  
					<a href="{{slide.url}}" class="photography-entry img d-flex justify-content-center align-items-center" style="background-image: url({{ SITEURL }}/images/{{slide.image}});">
						<div class="overlay"></div>
						<div class="text text-center">
							<h3>{{slide.title}}</h3>
							<span>{{slide.text}}</span>
						</div>
					</a>
				</div>

				{% endfor %}


			</div>
		</div>
	</div>
</section>



<section class="ftco-section-2">
	<div class="row justify-content-center mb-5 pb-2">
		<div class="col-md-7 heading-section text-center ftco-animate">
			<h2 class="mb-4" id="contact">Contact</h2>

				<ul class="ftco-social mt-3">
					<li class="ftco-animate"><a href="{{ SOCIAL.twitter }}"><span class="icon-twitter"></span></a></li>
					<li class="ftco-animate"><a href="{{ SOCIAL.linkedin }}"><span class="icon-linkedin"></span></a></li>
					<li class="ftco-animate"><a href="{{ SOCIAL.github }}"><span class="icon-github"></span></a></li>
					<li class="ftco-animate"><a href="{{ SOCIAL.email }}"><span class="icon-envelope"></span></a></li>  
					<li class="ftco-animate"><a href="{{ SITEURL }}/static/cv.pdf"><span class="icon-book"></span></a></li>  
				</ul>
		</div>
	</div>
</section>




			<!-- <div class="hero-wrap js-fullheight" style="background-image: url({{ SITEURL }}/theme/images/bg_1.jpg);" data-stellar-background-ratio="0.5">
				<div class="overlay"></div>
				<div class="js-fullheight d-flex justify-content-center align-items-center">
					<div class="col-md-8 text text-center">
						<div class="img mb-4" style="background-image: url({{ SITEURL }}/theme/images/author.jpg);"></div>
						<div class="desc">
							<p class="mb-4">{{ ABOUT }}</p>
							<p><a href="{{ SITEURL }}/about.html" class="btn-custom">More About Me <span class="ion-ios-arrow-forward"></span></a></p>
						</div>
					</div>
				</div>
      		</div> -->
      



			<section class="ftco-section">
					<div class="container">
						<div class="row justify-content-center mb-5 pb-2">
							<div class="col-md-7 heading-section text-center ftco-animate">
								<h2 class="mb-4" id="blog">Blog</h2>
								<p>{{ ABOUT_BLOG }} </p>
							</div>
						</div>
						<div class="row">


							{% for article in articles_page.object_list %}

							<div class="col-md-4">
								<div class="blog-entry ftco-animate">
									<a href="{{ SITEURL }}/{{ article.url }}" class="img img-2" style="background-image: url({{ SITEURL }}/images/{{ article.image }});"></a>
									<div class="text text-2 pt-2 mt-3">
										<span class="category mb-3 d-block"><a href="#">{{ article.category }}</a></span>
										<h3 class="mb-4"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }} {%if article.subtitle %} <small> {{ article.subtitle }} </small> {% endif %} </a></h3>
										<p class="mb-4">{{ article.summary}}</p>
										<div class="author mb-4 d-flex align-items-center">
											<div class="ml-3 info">
												<h3><time pubdate="pubdate" datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time></h3>
											</div>
										</div>
										<div class="meta-wrap align-items-center">
											<!-- <div class="half order-md-last">
												<p class="meta">
													<span><i class="icon-heart"></i>3</span>
													<span><i class="icon-eye"></i>100</span>
													<span><i class="icon-comment"></i>5</span>
												</p>
											</div> -->
											<div class="half">
												<p><a href="{{ SITEURL }}/{{ article.url }}" class="btn py-2">Continue Reading <span class="ion-ios-arrow-forward"></span></a></p>
											</div>
										</div>
									</div>
								</div>
							</div>

							{% endfor %}
				

							{% if DEFAULT_PAGINATION %}


							<div class="row mt-5">
									<div class="col">
									  <div class="block-27">
										<ul>
												{% if articles_page.has_previous() %}
												<li class="active">
														<a href="{{ SITEURL }}/{{ articles_previous_page.url }}#blog">&lt;</a>
												</li>
												{% else %}
												<li>
														<a href="#blog">&lt;</a>
												</li>
													{% endif %}											
												{% if articles_page.has_next() %}
												<li class="active">
														<a href="{{ SITEURL }}/{{ articles_next_page.url }}#blog">&gt;</a>
												</li>
													{% else %}
												<li>
														<a href="#blog">&gt;</a>
												</li>
												{% endif %}
										</ul>
									  </div>
									</div>
								</div>
			  
				

							{% endif %}


							
						</div>
					</div>
				</section>
		
		
		
{% endblock content %}
		