{% extends 'base.html' %}

{% block title %}
{{ super() }}
{% endblock title %}

{% block content %}

<section>
    <header class="main">
        <h1>Learn More About bblais</h1>
    </header>

    <span class="image right"><img src="{{ SITEURL }}/images/{{ ABOUT_PICTURE }}"></span>

                    
    {{ ABOUT_LONG }}


</section> 

<!-- Section -->
<section>
    <div class="features">
        <article>
            <a  style="border-bottom: none;" href="{{SITEURL}}/category/media.html">
            <span class="icon solid fa-camera"></span></a>
            <div class="content">
                <h3><a href="{{SITEURL}}/category/media.html">Media Appearances</a></h3>
                <p>Podcasts and Videos in which I have appeared or which I have created.</p>
            </div>
        </article>

        <article>
            <a  style="border-bottom: none;" href="{{SITEURL}}/posts/2019/Jan/14/stats-for-everyone/">
            <span class="icon solid fa-cube"></span></a>
            <div class="content">
                <h3><a href="{{SITEURL}}/posts/2019/Jan/14/stats-for-everyone/">Stats for Everyone</a></h3>
                <p>An introductory stats book from a Bayesian perspective, including Python software.</p>
            </div>
        </article>
    </div>
</section>

		
{% endblock content %}


