{% extends 'base.html' %}

{% block title %}
{{ super() }}
{% endblock title %}

{% block content %}

<section>
    <header class="main">
        <h1>Category: {{ category }}</h1>
    </header>

	<div class="posts">

	{% for article in articles_page.object_list %}

	<article>
		
		<a href="{{ SITEURL }}/{{ article.url }}" class="image">
			{% if article.image %}
			<img src="{{ SITEURL }}/images/{{ article.image }}" alt="{{ article.image }}">
		{% else %}
			<img src="{{ SITEURL }}/images/default.png" alt="default">
		{% endif %}
		</a>
		<h3>{{ article.title }} {%if article.subtitle %} <small> {{ article.subtitle }} </small> {% endif %}</h3>
		<p>{{ article.summary}}</p>
		<p>
			<strong><time pubdate="pubdate" datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time></strong>
			<em>#{{ article.category }}</em>
		</p>
		<ul class="actions">
			<li><a href="{{ SITEURL }}/{{ article.url }}" class="button">More</a></li>
		</ul>
	</article>

	{% endfor %}

	</div>

</section> 


{% endblock content %}
		