{% extends 'base.html' %}

{% block title %}
Search - {{ super() }}
{% endblock %}

{% block content %}
<div class="row-fluid">
    <header id="lunr-search-result-heading" class="page-header span10 offset2">
    </header>
</div>

<div class="row-fluid">
    <div class="span8 offset2">
        <div id="lunr-search-result" >
        </div>
    </div>
</div>
{% endblock content %}

{% block script %}
    {% if PLUGINS and 'tipue_search' in PLUGINS %}
        <script src="{{ SITEURL }}/tipuesearch_content.js"></script>
    {% endif %}
{{ super() }}
{% endblock script %}
