<div class="sidebar-box subs-wrap img" style="background-image: url({{ SITEURL }}/theme/images/bg_1.jpg);">
    <div class="overlay"></div>
                    <h3 class="mb-4 sidebar-heading">Newsletter</h3>
                    <p class="mb-4">Want to hear about the free stuff I make?   Want to hear about what I can do to help your projects?  Sign up here!  Low-traffic, no misuse of your email, opt out any time.</p>
      <form action="https://formspree.io/b&#37;6&#50;%6C&#37;61i%&#55;3%40%62ry&#37;61nt%2Eed&#37;7&#53;" method="POST" class="subscribe-form">
        <div class="form-group">
          <input type="text" class="form-control" name="_replyto" placeholder="Email Address">
          <input type="submit" value="Subscribe" class="mt-2 btn btn-white submit">
          <input type="hidden" name="name" value="Newsletter Subscribe" placeholder="Your Name">
          <input type="hidden" name="_next" value="{{SITEURL}}/thanks.html" />
        </div>
      </form>
    </div>
