{% extends 'base.html' %}

{% block title %}
{{ page.title }} {%if page.subtitle %} - {{ page.subtitle }} {% endif %} · {{ super() }}
{% endblock title %}

{% block head_description %}
{% if page.summary %}
{{ page.summary|striptags }}
{% endif %}
{% endblock head_description %}

{% block meta_tags_in_head %}
{% if page.keywords %}
<meta name="keywords" content="{{ page.keywords }}" />
{% endif %}
{% endblock meta_tags_in_head %}

{% block content %}

<section class="ftco-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="row">


                        <div class="col-md-12">
                            <div class="blog-entry ftco-animate">
                    <div class="text pt-2 mt-3">
                            <h3 class="mb-4">{{ page.title }} {%if page.subtitle %} <small> {{ page.subtitle }} </small> {% endif %} </h3>
                            {%if page.image %}  <a href="#" class="img" style="background-image: url({{ SITEURL }}/images/{{ page.image }});" ></a>{% endif %} 
                          <p class="mb-4">
                                {{ page.content }}
                            </p>
                        </div>
                            </div>
                        </div>

                    </div>
                </div><!-- END-->



                
                <div class="col-lg-4 sidebar ftco-animate">

                    {% include 'newsletter_sidebar.html' %}



                        {% if page.toc %}
                        <div class="sidebar-box ftco-animate">
                        <h3 class="sidebar-heading">Contents</h3>
                        <p>
                            {{ page.toc }}
                        </p>
                        </div>
                        {% endif %}
                   
            <!-- <div class="sidebar-box ftco-animate">
                <h3 class="sidebar-heading">Categories</h3>
              <ul class="categories">
                  {% for category,articles in categories %}
                <li><a href="{{ SITEURL }}/{{ category.url }}">{{ category }} <span>({{ articles|length }})</span></a></li>
                {% endfor %}
              </ul>
            </div>


            <div class="sidebar-box ftco-animate">
              <h3 class="sidebar-heading">Tag Cloud</h3>
              <ul class="tagcloud">
                {% for tag,articles in tags %}
                <a href="{{ SITEURL }}/{{ tag.url }}" class="tag-cloud-link">{{ tag }}</a>
                {% endfor %}
              </ul>
            </div> -->


            <!-- <div class="sidebar-box ftco-animate">
                <h3 class="sidebar-heading">Archives</h3>
              <ul class="categories">
                  <li><a href="#">October 2018 <span>(10)</span></a></li>
                <li><a href="#">September 2018 <span>(6)</span></a></li>
                <li><a href="#">August 2018 <span>(8)</span></a></li>
                <li><a href="#">July 2018 <span>(2)</span></a></li>
                <li><a href="#">June 2018 <span>(7)</span></a></li>
                <li><a href="#">May 2018 <span>(5)</span></a></li>
              </ul>
            </div> -->


         </div><!-- END COL -->
            </div>
        </div>
    </section>




    {% endblock content %}

    {% block script %}
    {{ super() }}
    {% endblock script %}
