<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>Healing Miracles_.md</key>
			<dict>
				<key>lastModification</key>
				<real>541985677.39432895</real>
				<key>version</key>
				<dict>
					<key>6fdc779fa40f4dc6fe283adf628452f343ef23d5c3ee8c0ad64a0586104b93af</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Top Reasons for Belief.md</key>
			<dict>
				<key>lastModification</key>
				<real>541985677.39431596</real>
				<key>version</key>
				<dict>
					<key>6fdc779fa40f4dc6fe283adf628452f343ef23d5c3ee8c0ad64a0586104b93af</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>[0024] Unbelievable? 24 Nov 2007 - The atheist who sold his soul on ebay - 24 November 2007.md</key>
			<dict>
				<key>lastModification</key>
				<real>541985677.39432001</real>
				<key>version</key>
				<dict>
					<key>6fdc779fa40f4dc6fe283adf628452f343ef23d5c3ee8c0ad64a0586104b93af</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>[0028] Unbelievable? 22 Dec 2007 - Did Christians steal Christmas? - 22 December 2007.md</key>
			<dict>
				<key>lastModification</key>
				<real>541985677.39432704</real>
				<key>version</key>
				<dict>
					<key>6fdc779fa40f4dc6fe283adf628452f343ef23d5c3ee8c0ad64a0586104b93af</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>[0033] Unbelievable? 26 Jan 2008 Morality - do we need God to be Good? - 26 January 2008.md</key>
			<dict>
				<key>lastModification</key>
				<real>541985677.39432204</real>
				<key>version</key>
				<dict>
					<key>6fdc779fa40f4dc6fe283adf628452f343ef23d5c3ee8c0ad64a0586104b93af</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>[0034] Unbelievable? 2 Feb 2008 Positive atheism? - 02 February 2008.md</key>
			<dict>
				<key>lastModification</key>
				<real>541985677.39432204</real>
				<key>version</key>
				<dict>
					<key>6fdc779fa40f4dc6fe283adf628452f343ef23d5c3ee8c0ad64a0586104b93af</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>[0036] Unbelievable? 16 Feb 2008 Noah and the Flood - did it happen? - 16 February 2008.md</key>
			<dict>
				<key>lastModification</key>
				<real>541985677.394328</real>
				<key>version</key>
				<dict>
					<key>6fdc779fa40f4dc6fe283adf628452f343ef23d5c3ee8c0ad64a0586104b93af</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>[0043] Unbelievable? 5 Apr 2008 12 Apr 2008 "Why I became an atheist" Part 1 and Part 2 - John Loftus &amp; Peter May - 05 April 2008.md</key>
			<dict>
				<key>lastModification</key>
				<real>541985677.39432204</real>
				<key>version</key>
				<dict>
					<key>6fdc779fa40f4dc6fe283adf628452f343ef23d5c3ee8c0ad64a0586104b93af</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>[0274] Did Jesus Exist? Bart Ehrman Q&amp;A - Unbelievable? - 18 August 2012.md</key>
			<dict>
				<key>lastModification</key>
				<real>541985677.39432704</real>
				<key>version</key>
				<dict>
					<key>6fdc779fa40f4dc6fe283adf628452f343ef23d5c3ee8c0ad64a0586104b93af</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>[0308] How did life begin? Adam Rutherford &amp; Fuz Rana - Unbelievable? - 09 April 2013.md</key>
			<dict>
				<key>lastModification</key>
				<real>541985677.39432299</real>
				<key>version</key>
				<dict>
					<key>6fdc779fa40f4dc6fe283adf628452f343ef23d5c3ee8c0ad64a0586104b93af</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>[0321] The Probability of the Resurrection - Calum Miller &amp; Chris Hallquist - Unbelievable? - 06 July 2013.md</key>
			<dict>
				<key>lastModification</key>
				<real>541985677.39432096</real>
				<key>version</key>
				<dict>
					<key>6fdc779fa40f4dc6fe283adf628452f343ef23d5c3ee8c0ad64a0586104b93af</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>faith_and_trust.md</key>
			<dict>
				<key>lastModification</key>
				<real>541985677.394328</real>
				<key>version</key>
				<dict>
					<key>6fdc779fa40f4dc6fe283adf628452f343ef23d5c3ee8c0ad64a0586104b93af</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>faith_empirical.md</key>
			<dict>
				<key>lastModification</key>
				<real>541985677.394328</real>
				<key>version</key>
				<dict>
					<key>6fdc779fa40f4dc6fe283adf628452f343ef23d5c3ee8c0ad64a0586104b93af</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>probability_theism_vs_atheism.md</key>
			<dict>
				<key>lastModification</key>
				<real>541985677.39432895</real>
				<key>version</key>
				<dict>
					<key>6fdc779fa40f4dc6fe283adf628452f343ef23d5c3ee8c0ad64a0586104b93af</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>scratch.md</key>
			<dict>
				<key>lastModification</key>
				<real>541985677.39432096</real>
				<key>version</key>
				<dict>
					<key>6fdc779fa40f4dc6fe283adf628452f343ef23d5c3ee8c0ad64a0586104b93af</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>sun_rise_tomorrow.md</key>
			<dict>
				<key>lastModification</key>
				<real>541985677.39432895</real>
				<key>version</key>
				<dict>
					<key>6fdc779fa40f4dc6fe283adf628452f343ef23d5c3ee8c0ad64a0586104b93af</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>unbelievable-project-a-non-believers-armchair-perspective-on-six-years-of-christian-debates.md</key>
			<dict>
				<key>lastModification</key>
				<real>541985677.39432597</real>
				<key>version</key>
				<dict>
					<key>6fdc779fa40f4dc6fe283adf628452f343ef23d5c3ee8c0ad64a0586104b93af</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>unbelievable-project-a-proxy-atheist-explains-why-he-cant-believe.md</key>
			<dict>
				<key>lastModification</key>
				<real>541985677.39432597</real>
				<key>version</key>
				<dict>
					<key>6fdc779fa40f4dc6fe283adf628452f343ef23d5c3ee8c0ad64a0586104b93af</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>unbelievable-project-atheist-and-christian-bloggers-discuss.md</key>
			<dict>
				<key>lastModification</key>
				<real>541985677.39432597</real>
				<key>version</key>
				<dict>
					<key>6fdc779fa40f4dc6fe283adf628452f343ef23d5c3ee8c0ad64a0586104b93af</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>unbelievable-project-does-christianity-enslave-are-we-better-off-without-belief-in-god.md</key>
			<dict>
				<key>lastModification</key>
				<real>541985677.39432502</real>
				<key>version</key>
				<dict>
					<key>6fdc779fa40f4dc6fe283adf628452f343ef23d5c3ee8c0ad64a0586104b93af</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>unbelievable-project-god-delusion-debate-deluded-by-dawkins.md</key>
			<dict>
				<key>lastModification</key>
				<real>541985677.39432502</real>
				<key>version</key>
				<dict>
					<key>6fdc779fa40f4dc6fe283adf628452f343ef23d5c3ee8c0ad64a0586104b93af</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>unbelievable-project-gods-existence-free-will-and-faith-the-big-questions.md</key>
			<dict>
				<key>lastModification</key>
				<real>541985677.39432502</real>
				<key>version</key>
				<dict>
					<key>6fdc779fa40f4dc6fe283adf628452f343ef23d5c3ee8c0ad64a0586104b93af</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>unbelievable-project-john-lennox-debates-science-and-god-has-science-buried-god.md</key>
			<dict>
				<key>lastModification</key>
				<real>541985677.39432395</real>
				<key>version</key>
				<dict>
					<key>6fdc779fa40f4dc6fe283adf628452f343ef23d5c3ee8c0ad64a0586104b93af</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>unbelievable-project-miracles-and-healing-is-it-evidence-for-the-truth-of-christianity.md</key>
			<dict>
				<key>lastModification</key>
				<real>541985677.39432395</real>
				<key>version</key>
				<dict>
					<key>6fdc779fa40f4dc6fe283adf628452f343ef23d5c3ee8c0ad64a0586104b93af</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>unbelievable-project-the-new-atheism-barry-duke-and-david-marshall-debate.md</key>
			<dict>
				<key>lastModification</key>
				<real>541985677.39432299</real>
				<key>version</key>
				<dict>
					<key>6fdc779fa40f4dc6fe283adf628452f343ef23d5c3ee8c0ad64a0586104b93af</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>unbelievable-project-the-probability-of-the-resurrection.md</key>
			<dict>
				<key>lastModification</key>
				<real>541985677.39432299</real>
				<key>version</key>
				<dict>
					<key>6fdc779fa40f4dc6fe283adf628452f343ef23d5c3ee8c0ad64a0586104b93af</key>
					<integer>2</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>Top Reasons for Belief.md</string>
		</array>
		<array>
			<string>[0024] Unbelievable? 24 Nov 2007 - The atheist who sold his soul on ebay - 24 November 2007.md</string>
		</array>
		<array>
			<string>scratch.md</string>
		</array>
		<array>
			<string>[0321] The Probability of the Resurrection - Calum Miller &amp; Chris Hallquist - Unbelievable? - 06 July 2013.md</string>
		</array>
		<array>
			<string>[0033] Unbelievable? 26 Jan 2008 Morality - do we need God to be Good? - 26 January 2008.md</string>
		</array>
		<array>
			<string>[0034] Unbelievable? 2 Feb 2008 Positive atheism? - 02 February 2008.md</string>
		</array>
		<array>
			<string>[0043] Unbelievable? 5 Apr 2008 12 Apr 2008 "Why I became an atheist" Part 1 and Part 2 - John Loftus &amp; Peter May - 05 April 2008.md</string>
		</array>
		<array>
			<string>[0308] How did life begin? Adam Rutherford &amp; Fuz Rana - Unbelievable? - 09 April 2013.md</string>
		</array>
		<array>
			<string>unbelievable-project-the-probability-of-the-resurrection.md</string>
		</array>
		<array>
			<string>unbelievable-project-the-new-atheism-barry-duke-and-david-marshall-debate.md</string>
		</array>
		<array>
			<string>unbelievable-project-miracles-and-healing-is-it-evidence-for-the-truth-of-christianity.md</string>
		</array>
		<array>
			<string>unbelievable-project-john-lennox-debates-science-and-god-has-science-buried-god.md</string>
		</array>
		<array>
			<string>unbelievable-project-gods-existence-free-will-and-faith-the-big-questions.md</string>
		</array>
		<array>
			<string>unbelievable-project-god-delusion-debate-deluded-by-dawkins.md</string>
		</array>
		<array>
			<string>unbelievable-project-does-christianity-enslave-are-we-better-off-without-belief-in-god.md</string>
		</array>
		<array>
			<string>unbelievable-project-atheist-and-christian-bloggers-discuss.md</string>
		</array>
		<array>
			<string>unbelievable-project-a-proxy-atheist-explains-why-he-cant-believe.md</string>
		</array>
		<array>
			<string>unbelievable-project-a-non-believers-armchair-perspective-on-six-years-of-christian-debates.md</string>
		</array>
		<array>
			<string>[0274] Did Jesus Exist? Bart Ehrman Q&amp;A - Unbelievable? - 18 August 2012.md</string>
		</array>
		<array>
			<string>[0028] Unbelievable? 22 Dec 2007 - Did Christians steal Christmas? - 22 December 2007.md</string>
		</array>
		<array>
			<string>[0036] Unbelievable? 16 Feb 2008 Noah and the Flood - did it happen? - 16 February 2008.md</string>
		</array>
		<array>
			<string>faith_and_trust.md</string>
		</array>
		<array>
			<string>faith_empirical.md</string>
		</array>
		<array>
			<string>probability_theism_vs_atheism.md</string>
		</array>
		<array>
			<string>sun_rise_tomorrow.md</string>
		</array>
		<array>
			<string>Healing Miracles_.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>6fdc779fa40f4dc6fe283adf628452f343ef23d5c3ee8c0ad64a0586104b93af</key>
			<integer>2</integer>
		</dict>
	</dict>
</dict>
</plist>
